.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  /* border: 2px solid rgb(243, 5, 183); */
  background-color: #eee;
  padding: 30px;
  border-radius: 10px;
}